
  <footer>
    <div class="footer-container">
      <p>&copy; 2024 Billy. All rights reserved.</p>
      <div class="footer-menu">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>

      </div>
    </div>
  </footer>
