<nav>
  <div class="navbar-container">
    <div class="logo">
      <a href="/" style="display: flex; align-items: center;">
        <img src="image_processing20211004-8239-1bh6502.gif" alt="Logo" class="logo-img">
        <h2 style="margin-left: 10px; color: white;">Billy</h2> 
      </a>
    </div>

    <div class="navbar-menu">
      <a href="/">Home</a>
      <div class="dropdown">
        <a href="#">Menu</a>
        <div class="dropdown-menu">
          <a href="/add">Add Book</a>
          <a href="/filter">Filter Books</a>
        </div>
      </div>
      <a href="/signin">Sign In</a>
    </div>
  </div>
</nav>
